<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stonehnh.customer.mapper.CustomerMapper">

    <resultMap id="customerResponseDtoMap" type="com.stonehnh.customer.dto.response.CustomerResponseDto">
        <id property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="customerAddress" column="customer_address"/>
        <result property="createdDate" column="created_date"/>
        <result property="customerPicture" column="customer_picture"/>
        <result property="verifyStatus" column="verify_status"/>
        <result property="accountStatus" column="account_status"/>
        <collection property="roleName"
                    ofType="string"
                    select="com.stonehnh.customer.mapper.CustomerMapper.getRolesByEmail"
                    column="email"/>
    </resultMap>


    <!--    getRolesByEmail-->
    <select id="getRolesByEmail" resultType="string">
        SELECT r.role_name
        FROM customers c
                 LEFT JOIN customer_roles cr ON c.customer_id = cr.customer_id
                 LEFT JOIN roles r ON r.role_id = cr.role_id
        WHERE c.email = #{email}
    </select>

    <!-- findCustomerByEmail với nested roles -->
    <select id="findCustomerByEmail" resultMap="customerResponseDtoMap">
        SELECT
            c.customer_id,
            c.customer_name,
            c.email,
            c.password,
            c.phone_number,
            c.customer_address,
            c.created_date,
            c.customer_picture,
            c.verify_status,
            c.account_status
        FROM customers c
        WHERE c.email = #{email}
    </select>

    <select id="findCustomersByEmailLike" resultMap="customerResponseDtoMap">
        SELECT
            c.customer_id,
            c.customer_name,
            c.email,
            c.password,
            c.phone_number,
            c.customer_address,
            c.created_date,
            c.customer_picture,
            c.verify_status,
            c.account_status
        FROM customers c
        WHERE c.email LIKE CONCAT('%', #{email}, '%')
    </select>

    <!-- getAll với nested roles -->
    <select id="getAllCustomerAndRoles" resultMap="customerResponseDtoMap">
        SELECT
            c.customer_id,
            c.customer_name,
            c.email,
            c.password,
            c.phone_number,
            c.customer_address,
            c.created_date,
            c.customer_picture,
            c.verify_status,
            c.account_status
        FROM customers c
    </select>

</mapper>
